body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

#principal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

section {
    padding-top: 70px;
}

#home {
    min-height: 100vh;
    display: flex;
    align-items: center;
}

#myPhoto {
    border-radius: 50%;
    display: block;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.imgSmall {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border: 3px solid black;
}

.notFoundPage {
    flex: 1;
    display: flex;
    align-items: center;
}

.dropdown-toggle::after {
    display: none !important; 
}

.bg-primary-light {
    color: #000000;
    background-color: #f5f5f5;
}

.bg-secundary-light {
    color: #000000;
    background-color: #fff;
}

.bg-primary-dark {
    color: #f5f5f5;
    background-color: #212529;
}

.bg-secundary-dark {
    color: #f5f5f5;
    background-color: #191919;
}